@import "vendor/neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$column: 90px;
$gutter: 60px;
$grid-columns: 4;
$max-width: 50rem;

// Define your breakpoints
$medium: new-breakpoint(min-width 750px 8);
$large: new-breakpoint(min-width 1100px 12);
$xlarge: new-breakpoint(min-width 1400px 12);

// Visual grid for debugging
$visual-grid: true;
$visual-grid-color: yellow;
$visual-grid-index: front;
$visual-grid-opacity: 0.5;
