//
// application.scss
//
// Our base file. Imports everything we need and holds
// components we haven't broken out to partials.
//

// =====
// Variables
// =====

$black: rgba(0,0,0,0.8);
$red: #cf1b41;
$green: #3e5641;
$gray: #363537;
$blue: #004b6a;

$background-tint: rgba(0,0,0,0.04);
$dark-tint: $gray;
$text-color: $black;
$primary-color: $red;
$secondary-color: $blue;
$third-color: $green;

$serif: "abril-text","Sentinel",serif;
$sans-serif: "proxima-nova","Proxima Nova",Helvetica,sans-serif;

$padding: 2em;

// =====
// Imports
// =====

@import 'vendor/bourbon/bourbon';
@import 'grid-settings';
@import 'vendor/neat/neat';
@import 'vendor/normalize';
@import 'vendor/iconfont';

// =====
// Mixin helpers
// =====

@mixin iconfont() {
  // Zurb iconfont settings, should go in a :before pseudo-selector
  font-family: "foundation-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

// =====
// Color the body a little
// =====

body {
  background-color: lighten(gray,60);
}

// =====
// Base spacing rules
// =====

* {
  margin: 0;
  padding: 0;
  color: $black;
  box-sizing: border-box;
}

* + * {
  // The lobotomized owl. Hoo, hoo.
  // spacing between adjacent block level elements
  // all block level elements that are preceded by another block level element
  margin-top: 1.5em;
}

.u-small-spacing {
  // tighten up spacing within small-spacing elements
  * + * {
    margin-top: 0.5em;
  }
}

.u-row > * {
  @include row();
  // for rows of floated block elements
  margin-top: 0;
}

.u-nomargin {
  margin-top: 0;
}

// =====
// Base typography
// =====

$base-size: 18px;

h1,h2,h3,h4,h5,h6 {
  font-family: $sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: $black;
}

h1 {
  font-size: $base-size * 1.6;
  
  @include media($medium) {
    font-size: $base-size * 2;
  }
  @include media($large) {
    font-size: $base-size * 2.4;
  }
  @include media($xlarge) {
    font-size: $base-size * 2.8;  
  }
}

h2 {
  font-size: $base-size * 1.4;

  @include media($medium) {
    font-size: $base-size * 1.6;    
  }
  @include media($large) {
    font-size: $base-size * 1.8;    
  }
  @include media($xlarge) {
    font-size: $base-size * 2;    
  }
}

h3 {
  font-size: $base-size * 1.2;
  @include media($medium) {
    font-size: $base-size * 1.4;    
  }
  @include media($large) {
    font-size: $base-size * 1.6;    
  }
  @include media($xlarge) {
    font-size: $base-size * 1.8;    
  }
}

p {
  font-family: $serif;
  font-weight: 400;
  font-size: $base-size;
  line-height: 1.6;
  color: $black;

  @include media($medium) {
    font-size: $base-size * 1.05;
    line-height: 2;
  }
  @include media($large) {
    font-size: $base-size * 1.1;
    line-height: 2;
  }
  @include media($xlarge) {
    font-size: $base-size * 1.15;
    line-height: 2;
  }
}

// =====
// Utility classes
//

// Unstyled un-ordered list
.u-unstyled {
  list-style-type: none;
}

// =====
// Basic layout
// =====

.container {
  @include outer-container();
  margin: 0 auto;
}

img {
    width: 100%;
}

// ====
// import svg styling
// ====
@import 'svg-chart-styles';


