<% content_for :body do %>

<div class="container">

<h1>Emergencies Without Urgency h1</h1>
<h2>Some more words in an h2</h2>
<h3>Some other words in an h3</h3>

<p>
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>


<section>
<h2> Online, our safety net it falling apart and failing millions.  </h2>

  <figure>
    <svg id="uptime-map" class="map" viewBox="0 0 960 500"></svg>
    <figcaption>
        <h5>
        Uptime over the past week.
        </h5>
    </figcaption>
  </figure>

<p>
Over the past week, the digital services supporting people eligible and enrolled in food stamps was down in {{ number of states }}, affecting about {{ sum of populations in each state under 200% FPL }}.
</p>

<p>
While the states in question may change, these numbers stay relatively consistent week to week. Across the country the digital services of our safety net are failing. 
</p>

<p>
This is an emergency, except nobody is paying attention. The people we are failing are those with the most acute needs, but also the least means to voice the consequences they bear. What's worse, our services have been failing so badly for so long that what should be considered an emergency has become the status quo. 
</p>
</section>

<section>

<h2>
The System is down at the moment
</h2>

<figure>
    <img src="/images/healthcare.gov-crash-1.png">
    <figcaption>
    <h5>HealthCare.gov is Down</h5>
    “The System” has provided you with a 30-character alphanumeric string for you to reference this error with.
    </figcaption>
</figure>

<p>
When Healthcare.gov failed, it was an emergency. The public reaction was deafening, and the botched rollout became an existential threat to both the Affordable Care Act, and by extension, the Obama Administration. As a result, it received the emergency response it deserved.  U.S. CTO Todd Park galvanized a “Tech Surge” of world-class engineers that stabilized by the service by December, a rather heroic feat chronicled vividly by Stephen Brill in Time Magazine.
</p>

<p>
It was a transformative experience for the federal government.
</p>

<ul>
    <li>
        Now, the feds are catching up
    </li>
    <li>
        There is tons of work to do. VA, Immigration.
    </li>
    <li>
        USDS has created standards
    </li>
    <li>
        18f just released analytics.gov.
    </li>
    <li>
        Only hiccup: federalism
    </li>
</ul>

<p>
Our most critical social safety net programs are funded by the feds, but administered by the state.
</p>


</section>

<section>

    <h2>If you need Immediate Assistance</h2>

    <figure>
        <img src="/images/calfresh-application.gif">
            <figcaption>
A user experience designer might suggest “Apply for Benefits” being a bit more prominent.
            </figcaption>
    </figure>

<p>
<em>
Even relatively short episodes of downtime can have disastrous consequences when the service supports people with acute needs and limited means.
</em>
</p>

<p>
This is the website Northern Californians can use to apply for food benefits, MyBenefitsCalWIN. The online application entails close to 100 screens. It took a recent web-savvy resident almost three hours to complete. Throughout, the language ranges from obtuse to downright browbeating. Oh, and it doesn’t support mobile devices at all. 
</p>

<p>
Fortunately, we are blessed with a community of assisters, advocates and outreach organizations that help people through this process, like the Food Stamp Outreach team at the Food Bank of San Francisco and Marin. Liliana Sandoval and her team “eat the pain” of applying for food stamps. They invest countless hours helping people through a cumbersome and inhumane process, and then advocate doggedly on their behalf when a case gets stuck in the gears. 
</p>

<p>
One way tactic they use to do this is a monthly event called CalFresh in a Day. Liliana had booked almost 40 clients for November’s installment of the event. That day, her team would meet a steady stream of families at 3120 Mission, a block-sized, blue-gray building owned by the city’s Human Services Agency. The schedule was packed. For eight hours, five staffers would give personalized help—in English, in Spanish, in Cantonese and Mandarin—to each family applying for CalFresh.
</p>

<p>
The event is something of a minor miracle. Or more accurately, a magic trick; a sleight of hand wherein the food bankers provide quick, reliable “same day service” for their clients.  It’s the social service version of a tactic common among nascent tech startups: provide clients with an excellent experience, and obfuscate the extreme lengths required to provide it; a practice euphemistically referred to as “concierging”. As Liliana describes it, "everything else stops so we can make this event possible and successful."  
</p>

<p>
Without assistance, an application for CalFresh can be a marathon of indignities that can take hours to submit, weeks to process, and dumb luck to actually get approved.  Clients can walk out of CalFresh in a Day with an EBT card in hand after an hour or two, expecting a deposit the next day. They never see the countless hours of prep work and special HSA resources that are being put to work behind the scenes to make it possible. 
</p>

<p>
Like any great experience though, CalFresh in a Day has many dependencies. Along with an on-site HSA staffer to conduct interviews and print EBT cards, the most load-bearing requirement is MyBenefitsCalWIN. When the food bankers arrived at 3120 Mission that Wednesday morning, the first order of business was to boot up the row of yellowing old computers, open Internet Explorer, navigate to MyBenefitsCalWIN.org, and log-in with the special CalFresh in a Day credentials.
</p>

<p>
“That’s when we noticed the spinning wheel of death,” Liliana recounted. Just a half hour before clients began arriving, the team began frantically thumbing the URL into their phones, hitting the site from food bank issued tablets, personal laptops, and any other device they could find. “I thought, ‘it can’t be the website’, but every other website we checked worked,” Liliana exhaled. The site was down.  "It just wouldn't load. There was no error page, it didn't even tell us it was down," added Xiao Lei, one of the five Food Stamp Outreach staff on site that day.
</p>

<p>
While maddening, the collapse of MBCW was just another stone that the food bankers would carry for clients.  “We are prepared people,” explained Francesca Costa, another food banker. The staff had brought dozens of paper applications as backup, “and we thought, ok we’ll just fax them in.”  But when they tested the fax machine, the receipt said only that the Human Services Agency could not be reached. The fax line was down too. 
</p>

<p>
Stress mounted as people continued to show up. “We can’t just f*** send all these people home,” Liliana quavered. And she was right. The people showing up for CalFresh in a Day were likely to have made compromises in order to show up that day—taken a day off work, traveled from the city’s far corners, or overcome some other hurdle that may seem pedestrian unless you are struggling to pay for groceries. Certainly, they were budgeting with the idea that help would be coming soon. Liliana started emailing and phoning everyone she could, trying to get somebody to get something to work. She reached no one—HSA staff was occupied with an entirely unrelated all-hands meeting. “We had a Plan A, a Plan B, and a Plan C,” Francesca said with a dour tone, “and they all failed”. 
</p>

<p>
“We are doing everything we can but we have no idea what is going to happen to your case,” Liliana told the growing number of arriving applicants. They had to turn away walk-ins. Between clients, she slipped away into the store room, closed the door, and cried. Xiao collapsed in frustration, and Cindy Lin busied herself with one client’s documentation, organizing them by type, providing whatever little help she could while apologizing for the extreme delays.
</p>

<p>
"He sat there for two and a half hours.” Cindy recalled. After she apologize yet again, the main had said, 'It's ok. I'm used to waiting'." 
</p>

<blockquote>
“Yes, MBCW is down”
</blockquote>

<p>
In fact, it was the food bankers that provided first notice of downtime to the site’s management. While her team handled clients, Liliana continued to furiously email and phone everyone she could, including Leo O’Farrell, the Director of CalFresh at San Francisco’s Human Services Agency. In turn, Leo reached the MyBenefitsCalWIN Consortium Coordinator, who in turned contacted their counterparts at Hewlett Packard, who designed, built and operates MyBenefitsCalWIN at a cost of hundreds of millions of dollars. Eventually, a one-line e-mail response arrived saying simply “Yes, MBCW is down”. 
</p>

  <figure>
<img src="/images/MBCW_Notification.png">
    <figcaption>
    </figcaption>
  </figure>

<p>
It would be almost twelve hours before a “CalWIN Unscheduled Outage Notification” reached HSA and by extension, the food bankers. These notifications offer scant details about the problem, no estimate of when they will be resolved, or any promise of future communication. 
</p>

</section>


<img src="/images/code_red.jpg">
<img src="/images/Louisiana_downtime.png">
<img src="/images/tennessee_downtime.png">
<img src="/images/unreachable.png">

  <figure>
    <svg id="map" class="map" viewBox="0 0 960 500"></svg>
    <figcaption>
        <h5>Current Status</h5>
    </figcaption>
  </figure>
</div>


<hr>

  <header id="site-intro">
    <h1>SNAP-it-up</h1>
    <p>
      SNAP (Supplemental Nutrition Assistance Program—food aid) services can be critical for those who receive them. However, the online sites and tools related to these services are often down or unavailable. Check here to see the current status and performance of SNAP sites across the country.
    </p>
  </header>
  
<div class="global-foot" role="contentinfo">
  <div class="layout-tight layout-breve">
    <div class="global-foot-content">
      <img class="global-foot-logo" src="/images/logo-inversed.png" />
      <small>Code for America Labs, Inc is a non-partisan, non-political 501(c)(3) organization. EIN number 27-1067272. Content is licensed through Creative Commons.<br/>
      Provide website feedback <a href="https://github.com/codeforamerica/codeforamerica.org/issues/new">on GitHub</a> or to <a href="mailto:info@codeforamerica.org">info@codeforamerica.org</a>.</small>
    </div>
  </div>
</div>
<!-- end .global-foot -->

</div>
<!-- end .container -->
<% end %>

<% content_for :extra_scripts do %>
<script type="application/javascript">
  // Shamelessly stolen from http://bl.ocks.org/mbostock/4342045
  var currentStatusSVG = d3.select("#map");

  var path = d3.geo.path();

  d3.json("/data/us.json", function(error, json) {
    if (error) {
      return console.error(error);
    }
  
    currentStatusSVG.append("g")
      .attr("class", "states")
      .selectAll("path")
        .data(topojson.feature(json, json.objects.states).features)
        .enter()
          .append("a")
          .attr("xlink:href", function(d) { return statesByCode[d.id] ? ("/states/" + statesByCode[d.id].abbreviation) : "#"; })
          .append("path")
          .attr("class", function(d) {
            var stateName = statesByCode[d.id] && statesByCode[d.id].name.toLowerCase();
            var statusClass = "state-unknown";
            if (stateName in stateStatus) {
              statusClass = stateStatus[stateName] ? "state-up" : "state-down";
            }
            return "state " + statusClass;
          })
          .attr("id", function(d) { return "state-" + d.id; })
          .attr("d", path);
  });
  
  var uptimeColor = d3.interpolateRgb("#FF5200", "#B1CCE8");
  var uptimeSVG = d3.select("#uptime-map");
  
  d3.json("/data/us.json", function(error, json) {
    if (error) {
      return console.error(error);
    }

    uptimeSVG.append("g")
      .attr("class", "states")
      .selectAll("path")
        .data(topojson.feature(json, json.objects.states).features)
        .enter()
          .append("a")
          .attr("xlink:href", function(d) { return statesByCode[d.id] ? ("/states/" + statesByCode[d.id].abbreviation) : "#"; })
          .append("path")
          .attr("fill", function(d) {
            var stateName = statesByCode[d.id] && statesByCode[d.id].name.toLowerCase();
            if (stateName in stateWeekUptime) {
              var normalizedUptime = Math.max(stateWeekUptime[stateName] - 80, 0) / 20;
              return uptimeColor(normalizedUptime);
            }
            return "";
          })
          .attr("id", function(d) { return "state-" + d.id; })
          .attr("d", path)
          // .on("click", function(d) {
          //   window.location = "/states/" + statesByCode[d.id].abbreviation;
          // });
          
    uptimeSVG.append("g")
      .attr("class", "labels")
      .selectAll("text")
        .data(topojson.feature(json, json.objects.states).features)
        .enter()
          .append("a")
          .attr("xlink:href", function(d) { return statesByCode[d.id] ? ("/states/" + statesByCode[d.id].abbreviation) : "#"; })
          .append("text")
          .attr("class", "uptime-label")
          .attr("x", function(d) {
            console.log(path.centroid(d));
            return path.centroid(d)[0] || 0;
          })
          .attr("y", function(d) {
            return path.centroid(d)[1] || 0;
          })
          .text(function(d) {
            var stateName = statesByCode[d.id] && statesByCode[d.id].name.toLowerCase();
            if (stateName in stateWeekUptime) {
              return Math.round(stateWeekUptime[stateName] * 10) / 10 + "%";
            }
            return "";
          });
  });

  var stateStatus = <%= @state_status.to_json %>;
  var stateWeekUptime = <%= @state_week_uptime.to_json %>;
  var statesByCode = {
    "1": { id: "1", name: "Alabama", abbreviation: "AL" },
    "2": { id: "2", name: "Alaska", abbreviation: "AK" },
    "4": { id: "4", name: "Arizona", abbreviation: "AZ" },
    "5": { id: "5", name: "Arkansas", abbreviation: "AR" },
    "6": { id: "6", name: "California", abbreviation: "CA" },
    "8": { id: "8", name: "Colorado", abbreviation: "CO" },
    "9": { id: "9", name: "Connecticut", abbreviation: "CT" },
    "10": { id: "10", name: "Delaware", abbreviation: "DE" },
    "11": { id: "11", name: "District of Columbia", abbreviation: "DC" },
    "12": { id: "12", name: "Florida", abbreviation: "FL" },
    "13": { id: "13", name: "Georgia", abbreviation: "GA" },
    "15": { id: "15", name: "Hawaii", abbreviation: "HI" },
    "16": { id: "16", name: "Idaho", abbreviation: "ID" },
    "17": { id: "17", name: "Illinois", abbreviation: "IL" },
    "18": { id: "18", name: "Indiana", abbreviation: "IN" },
    "19": { id: "19", name: "Iowa", abbreviation: "IA" },
    "20": { id: "20", name: "Kansas", abbreviation: "KS" },
    "21": { id: "21", name: "Kentucky", abbreviation: "KY" },
    "22": { id: "22", name: "Louisiana", abbreviation: "LA" },
    "23": { id: "23", name: "Maine", abbreviation: "ME" },
    "24": { id: "24", name: "Maryland", abbreviation: "MD" },
    "25": { id: "25", name: "Massachusetts", abbreviation: "MA" },
    "26": { id: "26", name: "Michigan", abbreviation: "MI" },
    "27": { id: "27", name: "Minnesota", abbreviation: "MN" },
    "28": { id: "28", name: "Mississippi", abbreviation: "MS" },
    "29": { id: "29", name: "Missouri", abbreviation: "MO" },
    "30": { id: "30", name: "Montana", abbreviation: "MT" },
    "31": { id: "31", name: "Nebraska", abbreviation: "NE" },
    "32": { id: "32", name: "Nevada", abbreviation: "NV" },
    "33": { id: "33", name: "New Hampshire", abbreviation: "NH" },
    "34": { id: "34", name: "New Jersey", abbreviation: "NJ" },
    "35": { id: "35", name: "New Mexico", abbreviation: "NM" },
    "36": { id: "36", name: "New York", abbreviation: "NY" },
    "37": { id: "37", name: "North Carolina", abbreviation: "NC" },
    "38": { id: "38", name: "North Dakota", abbreviation: "ND" },
    "39": { id: "39", name: "Ohio", abbreviation: "OH" },
    "40": { id: "40", name: "Oklahoma", abbreviation: "OK" },
    "41": { id: "41", name: "Oregon", abbreviation: "OR" },
    "42": { id: "42", name: "Pennsylvania", abbreviation: "PA" },
    "44": { id: "44", name: "Rhode Island", abbreviation: "RI" },
    "45": { id: "45", name: "South Carolina", abbreviation: "SC" },
    "46": { id: "46", name: "South Dakota", abbreviation: "SD" },
    "47": { id: "47", name: "Tennessee", abbreviation: "TN" },
    "48": { id: "48", name: "Texas", abbreviation: "TX" },
    "49": { id: "49", name: "Utah", abbreviation: "UT" },
    "50": { id: "50", name: "Vermont", abbreviation: "VT" },
    "51": { id: "51", name: "Virginia", abbreviation: "VA" },
    "53": { id: "53", name: "Washington", abbreviation: "WA" },
    "54": { id: "54", name: "West Virginia", abbreviation: "WV" },
    "55": { id: "55", name: "Wisconsin", abbreviation: "WI" },
    "56": { id: "56", name: "Wyoming", abbreviation: "WY" }
  };

</script>
<% end %>

<%= erb :'layouts/app' %>
