html, body {
  margin: 1em 2em;
  font-family: "brandon-grotesque", sans-serif;
}

#site-intro {
  margin: 0 0 1em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

#site-intro h1 {
  margin: 0 1.5em 0 0;
  padding: 0;
  font-size: 3em;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

#site-intro p {
  margin: 0;
  padding: 0.7em 0 0;
  max-width: 58em;
  
  -webkit-flex: 1 28em;
  flex: 1 28em;
}

/* INDEX PAGE SPECIFIC */
.map {
  width: 100%;
}

.states {
  fill: transparent;
}

.states a {
  stroke: none;
}

.states path {
  stroke: #fff;
}

.states .state-down {
  fill: #FF5200;
}

.states .state-up {
  fill: #B1CCE8;
}

.uptime-label {
  fill: #fff;
  text-anchor: middle;
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  stroke: #869BB0;
  stroke-width: 2;
  stroke-opacity: 0.75;
  paint-order: stroke;
}

/* STATE PAGE SPECIFIC */
.heading-link {
  font-size: 0.5em;
}

.status-unknown .status {
  color: #999;
}
.status-down .status {
  color: #FF5200;
}
.status-up .status {
  color: #B1CCE8;
}

.snapshots {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.snapshots li {
  display: inline-block;
}
.snapshots a {
  width: 200px;
  min-height: 100px;
}
.snapshots a,
.snapshots img {
  display: block;
}

.service-portal-heading {
  margin-bottom: 0;
  padding-bottom: 0;
}

.service-portal-description {
  margin-top: 0;
  padding-top: 0;
}